@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Aring;
  src: url(../fonts/Aring.otf);
}

@font-face {
  font-family: Asteroid;
  src: url(../fonts/asteroid.otf);
}

@font-face {
  font-family: Balbek;
  src: url(../fonts/Balbek.otf);
}

@font-face {
  font-family: Largest;
  src: url(../fonts/Largest.otf);
}

@font-face {
  font-family: Ringstun;
  src: url(../fonts/ringstun.otf);
}

@font-face {
  font-family: Wanderer;
  src: url(../fonts/WANDERER.otf);
}

html {
  background-color: #09090b;
  color: #e4e4e7;
}
